.Add_form{
    background-color: rgb(50, 44, 44);
    height: 400px;
    position: relative;
    width: 400px;
    border-radius: 20px;
    margin-left: 40%;
    margin-bottom: 500px;
}

.form{
    
    width: 30px;
    padding: 10px 10px;
    margin-left: 25%;
}
.form input{
    border-radius: 20px;
    padding: 5px 5px;
    margin-top: 30px;
    text-align: center;
}
.form button{
    margin-top: 20px;
    width:100px;
    height: 30px;
    border-radius: 15px;
    transition: all 0.3s ease 0s;

}
.form button:hover{
    opacity: 0.5;
}
.form_close{    

    background-color: rgba(183, 52, 52, 0.84);
    color: aliceblue;
}
.Form_Button{
    position: absolute;
    width: fit-content;
    float: left;
    
}